<div class="jumbotron center">
	<h2> Rate your local Real Estate agent</h2>
	<BR>
	<p> <%= link_to "Login", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>